.searchbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: sticky;
  

} 
.searchbarwrapper{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(255, 255, 255, 0.374);
    border-radius: 30px;
    padding-left: 10px;
    margin-top: 20px;
 
}
.topsearch-bar{
    border: none;
    width: 100%;
    background-color: rgba(0, 128, 87, 0);
    border-radius: 30px;
    /* border: 2px solid #efeaea; */
    padding:1rem .5rem;
    
}
.topsearch-bar:focus,
.topsearch-bar:hover{
    outline: none;
    background-color: rgba(0, 128, 87, 0);
}

.searchicon{
    font-size: 40px !important;
    margin-left: 10px;
    color: rgba(14, 12, 12, 0.531);
    }