/* .day-container{
    display: flex;
    border: 2px solid black;
    
}
.day-wrapperday{
    border: 2px solid blue;
    -webkit-box-shadow: 0px 0px 19px 0px #1B1A75; 
    box-shadow: 0px 0px 19px 0px #1B1A75;
    display: flex;
    flex-direction: column;
    
} */